 @font-face {
     font-family: 'Keylinx';
     src: url('/fonts/Keylinx.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'Kusanagi';
     src: url('/fonts/Kusanagi.otf') format('opentype');
     font-weight: normal;
     font-style: italic;
 }

 .file-list-container-3 {
     border-radius: 50px;
     border: none;
     background-color: var(--color-card-bg);
     backdrop-filter: blur(15px);
     -webkit-backdrop-filter: blur(15px);
     padding: 1.5rem;
     display: flex;
     flex-direction: column;
     gap: 0.75rem;
     min-height: 57vh;
     max-height: 57vh;
     box-shadow: var(--shadow-card);
     overflow-y: hidden;
     padding-right: 1.5rem;
 }

 .Profile {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .email,
 .usn {
     display: flex;
     flex-direction: column;
 }

 .profile-sub-content {
     display: flex;
     gap: 10vw;
 }

 .profile-content {
     display: flex;
     flex-direction: column;
     gap: 5vh;
 }

 .profile-sec-head {
     display: flex;
     gap: 5vw;
     align-items: center;
     margin-left: 2vw;
 }

 .name {
     font-family: Kusanagi;
     font-size: xx-large;
     color: #C7C4FF;
 }

 .label {
     font-family: Kusanagi;
     color: #B0B0C3;
 }

 .value {
     font-family: Kusanagi;
     color: #4DD0E1;
 }

 .email-value {
     font-family: "Inter";
     font-weight: bold;
     font-size: x-large;
     color: #4DD0E1;
 }

 .file-list-container-4
 {
    width: 22vw;
    height: 18vh;
    border-radius: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .main-content
 {
    display: flex;
    gap: 2vw;
 }

 .content
 {
    display: flex;
    flex-direction: column;
 }

 .count
 {
    font-family: Kusanagi;
    font-size: xx-large;
 }

 .title
 {
    font-family: Kusanagi;
    color: #C7C4FF;
    font-size: large;
 }

 .footer
 {
    display: flex;
    gap: 1vw;
    margin-left: 2vw;
 }