@font-face {
     font-family: 'Keylinx';
     src: url('/fonts/Keylinx.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'Kusanagi';
     src: url('/fonts/Kusanagi.otf') format('opentype');
     font-weight: normal;
     font-style: italic;
 }

.Name,.Email
{
    width: 60%;
}

.flex
{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
}

.namespan
{
    font-size: 1.3rem;
    font-weight: 500;
    color: #4DD0E1;
}

.input
{
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #322f46;
    color: #C7C4FF;
    padding: 10px 10px;
    margin-top: 0.1vh;
}

.caution
{
    font-size: 0.9rem;
    color: #B0B0C3;
}

.Password
{
     width: 40%;
}

.USN
{
    width: 30%;
}

.USN .input, .Email .input
{
    font-weight: 550;
    font-size: 1.2rem;
}

.Name .input
{
    font-family: 'Kusanagi';
}

.About-Me
{
    width: 50%;
}
.About-Me .input
{
    height: 20vh;
    text-align: start;
}

.btn-container
{
    display: flex;
    gap: 2vw;
    margin-left: 2vw;
    margin-top: 5vh;
}

.save-btn
{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background: linear-gradient(97deg, #A347FF 0%, #4DD0E1 100%);
    color: #322f46;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}

.logout-btn

{
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: #322f46;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}
.aboutme-textarea
{
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #322f46;
    color: #C7C4FF;
    padding: 10px 10px;
    margin-top: 0.1vh;
    height: 20vh;
}