@font-face {
    font-family: 'Keylinx';
    src: url('/fonts/Keylinx.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kusanagi';
    src: url('/fonts/Kusanagi.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}


.tab-switcher-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tab-container {
  position: relative;
  width: 364px;
  max-width: 100%;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: rgba(28, 20, 64, 0.10);
  backdrop-filter: blur(15px);
 
  box-shadow: 
    inset -15px -15px 4px -15px rgba(255, 255, 255, 0.5),
    inset 15px 15px 4px -15px rgba(255, 255, 255, 0.5),
    inset 0 4px 14.8px 0 rgba(0, 0, 0, 0.5),
    0 4px 50px 0 rgba(0, 0, 0, 0.15);
}

.tab-slider {
  position: absolute;
  width: 178px;
  height: 50px;
  top: 11px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(90deg, #A347FF, #4DD0E1); 
}


.tab-buttons-layout {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4vw;
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.tab-button {
  position: relative;
  z-index: 10;
  font-family: Kusanagi, sans-serif;
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap;
  outline: none;
}

.tab-button.active {
  color: #ffffff;
}

.tab-button.inactive {
  color: #C7C4FF;
}